
@media only screen 
and (min-width: 0px) 
and (max-width: 480px ) {

	.para-one, .para-two {
		width: 400px !important;
	}

	.hide-this {
		display: none;
	}

	.main-text {
		font-size: 40px !important;
	}

}


